#container{
    width: 600px;
    height: 300px;
    border: black solid 5px;
    margin: 0px auto;
    text-align: center;
}
#container>div{
    width: 300px;
    height: 300px;
    float: left;
}
#main{
    background-color: red;
}
#computer{
    background-color: lightgreen;
}
#myChoice>IMG{
    transform: scaleX(-1);
}
h1{
    margin-top: 0px ;
    text-align: center;
}
#container>#result{
    font-size: 80px;
    width: 600px;
    text-align: center;
}


.button{
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    cursor: pointer;
}
.button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}