body{
    background-color: #bfa;
    margin: 0;
}

.left-nav{
    width: 190px;
    height: 450px;
    padding: 10px 0;
    background-color: white;
    margin: 50px auto;
}

.left-nav .item{
    height: 25px;
/*    让一个文字在元素中垂直居中*/
    line-height: 25px;
    /*设置item的内边距，将文字向内移动*/
    padding-left: 18px;

}

/*为item设置一个鼠标移入的状态*/
.item:hover{
    background: #d9d9d9;
}

/*设置超链接样式*/
.item a{
    font-size: 14px;
    color: black;
/*    去除下划线*/
    text-decoration: none;
}
.item a:hover{
    color: #c81623;
}
#slash{
    padding: 0 0;
    font-size: 14px;
}